/target/
/debug/
/release/
*.rs.bk
*.rlib
*.prof*
.idea/
*.log
.env*

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/

# Test artifacts
tests/integrational/**/cache/
tests/integrational/**/output/
tests/integrational/**/state.yaml
tests/integrational/**/*.p12

# Cargo
Cargo.lock
